<html>

        <body>

            
    <ul>
 
    </ul>
<ul>
     <% for(var i = 0;i < data.length;i++) { %>
  
    <li><%=data[i].escola_id %> - <%=data[i].escola_sigla %> - <%=data[i].escola_nome %></li>
    <% } %>
</ul>
        </body>

</html>