<div id="jogos">
    <div class="card">
        <div class="header">
            <h2>Jogos Ativos</h2>
        </div>
        <div class="body">
            <table id="listaJogos" class="table table-striped table-hover dataTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>N.º Perguntas</th>
                        <th>Tipo</th>
                        <th>App</th>
                        <th>Criado em</th>
                        <th>Criado por</th>
                        <th>Ver</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>As camadas do modelo OSI</td>
                        <td>7</td>
                        <td>VF</td>
                        <td>Salchow</td>
                        <td>2018-03-24</td>
                        <td>PMacedo</td>
                        <td><span onclick="show('jogo');" class="btn btn-primary">Ver</span>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>JQuery</td>
                        <td>4</td>
                        <td>EM</td>
                        <td>Axel</td>
                        <td>2018-04-05</td>
                        <td>PMiranda</td>
                        <td><span onclick="show('jogo');" class="btn btn-primary">Ver</span>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>O que são CSS?</td>
                        <td>5</td>
                        <td>EM</td>
                        <td>Axel</td>
                        <td>2018-04-12</td>
                        <td>PLuzio</td>
                        <td><span onclick="show('jogo');" class="btn btn-primary">Ver</span>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
                    <!--div id="jogo" class="hidden">
                        <div class="card">
                            <div class="header">
                                <h2>Estatísticas - As camadas do Modelo OSI</h2>
                            </div>
                            <div class="body clearfix">

                                <div class="col-md-6">
                                    <p><b>Nome: </b>As Camadas do Modelo OSI</p>
                                    <p><b>Criado em :</b>2018-03-24</p>
                                    <p><b>Criado por: </b>PMacedo</p>
                                    <p><b>Disciplina: </b>Programação para a Internet</p>
                                    <p><b><a onclick="verRespostas();">N.º de Perguntas: </a></b>3</p>
                                    <p><b>Tipo de Perguntas: </b>Verdadeiro e Falso</p>
                                    <p><b>Tipo da Aplicação: </b>Salchow</p>
                                    <p><b>N.º de vezes Jogadas: </b>256</p>
                                    <p><b>N.º de Jogadores: </b>58</p>
                                    <hr />
                                    <div id="maisEstatisticasJogo">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <canvas id="myChart" width="400" height="400"></canvas>
                                </div>

                            </div>
                        </div>

                    </div-->