<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Gof-Administração</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="styles/themes/style.css" rel="stylesheet" />
    <link href="plugins/themify-icons/themify-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="styles/dataTables.css">
    <link rel="stylesheet" type="text/css" href="plugins/sweetalert/sweetalert.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

</head>

<body class="theme-gof">
    <nav class="navbar">
        <div <div class="navbar-header">
            <a class="navbar-brand" href="index.html"><img src="images/logo-navbar.png" height="50" alt="GoF"></a>
        </div>
        <div>
            <h3 id="title">Área Reservada - Estatísticas
            </h3>
        </div>
        </div>
        <div class="clearfix sub-menu">
            <ul class="" style="margin-top: 0px; margin-bottom: 0px;">
                <li><a href="index.html"><span class="icon-holder"><i class="ti-home"></i></span><span>Início</span></a></li>
                <li><a href="stats.html"><span class="icon-holder"><i class="ti-comments"></i></span><span>Estatísticas</span></a></li>
                <li><a href="profile.html"><span class="icon-holder"><i class="ti-user"></i></span><span>Perfil</span></a></li>
            </ul>
        </div>
    </nav>
    <section class="content">
        <div class="container-fluid">

            <div class="col-md-3">
                <div class="col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2>Estatísticas</h2>
                        </div>
                        <div class="body">
                            <ul class="list">
                                <li><a><span>Jogos</span></a></li>
                                <li><a onclick="show('escolas');"><span>Escolas</span></a></li>
                                <li><a><span>Perguntas</span></a></li>
                                <li><a><span>Estatísticas</span></a></li>
                                <li><a><span>Utilizadores</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div id="main" class="col-md-12">                    
                </div>
            </div>

        </div>
    </section>
</body>
<script>
function show(type)
{
   
      $.ajax({
        type: 'GET',
        url: '/config/'+type,
        success: function(data) {
          // Update the element - easiet is to use EJS to make sure each house has an id/class with the id in it
          // Given an ID of 2 this says find the div with class house_2 and updates its div with class room to the number of rooms
          $('#main').html(data);  
        }
      });
}
</script>

</html>