 <form id="escolaAdd" method="POST">
    <div class="col-md-4">
        <label for="sigla">Sigla</label>
        <input type="text" class="form-line" id="sigla" placeholder="Sigla">
    </div>
    <div class="col-md-8">
        <label for="nome">Nome</label>
        <input type="text" class="form-line" id="nome" placeholder="Nome" required>
    </div>
    <button class="btn bg-blue" type="submit">Guardar</button>
</form>

<script>
    $(document).ready(function(){
        $("#escolaAdd").submit(function(event){
            event.preventDefault();
            var sigla = $('#sigla').val();
            var nome = $('#nome').val();
            $.ajax({
                method: 'post',
                url: '/escolas/escolaAdd',
                data: JSON.stringify({ sigla: sigla, nome: nome }),
                contentType: 'application/json',
                success: function(data) {
                    $('#escolas').html(data);
                }

            })
        });
    });
</script>