<div id="jogos">
    <div class="card">
        <div class="header">
            <h2>Lista de Escolas</h2>
        </div>
        <div class="body">
            <button type="button" class="btn bg-blue" onclick="escolaShow('adiciona');">
                <span class="icon-holder"><i class="ti-plus"></i></span>
                <span>Adicionar</span>
            </button>
            <button type="button" class="btn bg-blue" onclick="escolaShow('lista');">
                <span class="icon-holder"><i class="ti-plus"></i></span>
                <span>Ver Todos</span>
            </button>
            <div id="escolas">
            </div>            
        </div>
    </div>
</div>
<script>
function escolaShow(type)
{   
      $.ajax({
        type: 'GET',
        url: '/escolas/'+type,
        success: function(data) {
            $('#escolas').html(data);  
        }
      });
}
</script>